In [3]:
# test

In [4]:
'''
description 
which 
can
be 
used'''

'\ndescription \nwhich \ncan\nbe \nused'

In [7]:
variable = 24
variable_2 = "This is a text!"
variable_3 = "This is also a test"
variable_4 = 45.7
variable_5 = False
variable_6 = None

In [8]:
variable_5

False

In [9]:
variable_3

'This is also a test'

In [10]:
variable_2

'This is a text!'

In [11]:
import sys
type (sys)

module

In [12]:
long_string ='''this 
is a very long 
string'''

print (long_string)
type (long_string)

this
is a very long
string

str

In [13]:
new_v = round (2.8484, 2)

In [14]:
print (new_v)

2.85

In [16]:
y = 4.6
type (y)

float

In [17]:
x = 13
type (x)

int

In [18]:
round (y)

5

In [19]:
z = 4.5
round (z)

4

In [20]:
test = round (z)
type(test)

int

In [21]:
list_1 = ["This  is a list", "that contains" , "both string", "and numbers: ", 234,34.56]
print(list_1)
type(list_1)

['This  is a list', 'that contains', 'both string', 'and numbers: ', 234, 34.56]

list

In [22]:
tuple_1 = ("This is a tuple", "that contains" , "both string", "and number: ", 234,34.56)
print(tuple_1)
type(tuple_1)

('This is a tuple', 'that contains', 'both string', 'and number: ', 234, 34.56)

tuple

In [23]:
list_1[0]

'This  is a list'

In [24]:
list_1[5]

34.56

In [25]:
list_1[5] = 67
print(list_1)

['This  is a list', 'that contains', 'both string', 'and numbers: ', 234, 67]

In [26]:
list_1[5] = 67
print(list_1)

['This  is a list', 'that contains', 'both string', 'and numbers: ', 234, 67]

In [27]:
tuple_1[5] = 67

TypeError: 'tuple' object does not support item assignment

In [29]:
this_dict = {
    "name": "Jupyter",
    "style": "Lab" ,
    "version": 3.3
}

In [30]:
this_dict["name"]

'Jupyter'

In [31]:
#
empty_str = ""
empty_int = int()
empty_float = float()
empty_list = []
empty_tuple = ()
empty_dict = {}

In [32]:
print(
type(empty_str), type(empty_int),
type(empty_float), type(empty_list),
type(empty_tuple), type(empty_dict)
)

<class 'str'> <class 'int'> <class 'float'> <class 'list'> <class 'tuple'> <class 'dict'>

In [33]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [34]:
a = 33
b = 200
if b > a:
    print("b is greater than a")
else:
    a += 1
    print("a is less than b, let's add 1")
    print (a)

b is greater than a

In [35]:
fruits= ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [37]:
a = 3
while a < 10:
    print(a)
    a = a + 1

3
4
5
6
7
8
9